In [1]:
import pandas_gbq #Conexão com BigQuery pelo Pandas
from google.oauth2 import service_account #Conexão com Google Cloud
from google.cloud import bigquery
import pandas as pd

In [2]:
credentials = service_account.Credentials.from_service_account_file(filename='GBQ.json',
                                                                    scopes=['https://www.googleapis.com/auth/cloud-platform'])

pandas_gbq.context.credentials = credentials
pandas_gbq.context.project = "datavizu"

In [3]:
# criando um objeto chamado client, que sera usado para chamar os metodos
client = bigquery.Client(credentials=credentials)

In [4]:
# construindo uma referencia apartir do dataset 'chicago_crime' que pertence ao projeto 'bigquery-public-data'
dataset_ref = client.dataset('openaq', project='bigquery-public-data')
dataset_ref

DatasetReference('bigquery-public-data', 'openaq')

In [5]:
# criando um dataset
dataset = client.get_dataset(dataset_ref)
dataset

Dataset(DatasetReference('bigquery-public-data', 'openaq'))

In [6]:
# listando tabelas
tables = list(client.list_tables(dataset))
tables

In [7]:
# printando o nome das tabelas
for table in tables:  
    print(table.table_id)

global_air_quality

In [14]:
# construindo um daata set apartir da tabelas 'crime
table_ref = dataset_ref.table("global_air_quality")
table_ref

TableReference(DatasetReference('bigquery-public-data', 'openaq'), 'global_air_quality')

In [11]:
table = client.get_table(table_ref)
table

Table(TableReference(DatasetReference('bigquery-public-data', 'openaq'), 'global_air_quality'))

In [12]:
# listando colunas
table.schema

[SchemaField('location', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('city', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('country', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('pollutant', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('value', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, (), None),
 SchemaField('unit', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('source_name', 'STRING', 'NULLABLE', None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('averaged_over_in_hours', 'FLOAT', 'NULLABLE', None, (), None),
 SchemaField('location_geom', 'GEOGRAPHY', 'NULLABLE', None, (), None)]

In [13]:
client.list_rows(table, max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)